* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    gap: 4px;
    font-weight: 400;
    transform: matrix();
}


.cta {
    background-color: steelblue;
    backdrop-filter: blur(10);
}

